


#cloud-1, #cloud-2, #cloud-3, #cloud-4 {
  transform: translate(1475px, 0);
  -webkit-animation: clouds 10s cubic-bezier(0.26, 0.69, 0.93, 0.68) infinite;
  animation: clouds 10s cubic-bezier(0.26, 0.69, 0.93, 0.68) infinite;
}

#Star-1 {
  -webkit-animation: stars 30s ease-in-out infinite;
  animation: stars 30s ease-in-out infinite;
}

@-webkit-keyframes clouds {
  100% {
    transform: translate(-3000px, 0px);
  }
}
@keyframes clouds {
  100% {
    transform: translate(-3000px, 0px);
  }
}
@-webkit-keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
svg {
  height: 100%;
  width: 100%;
  z-index: 5;
}

html, body {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  background: linear-gradient(-45deg, #FF8866 50%, orange 100% );
  background-size: 1200% 1200%;
  -webkit-animation: sky 30s ease-in-out infinite;
  -moz-animation: sky 30s ease-in-out infinite;
  animation: sky 30s ease-in-out infinite;
  text-align: center;
}

audio { 
    
    margin-top : 0;
    display: none;
 }    

nav {
    margin: 0 auto;
    text-align: center;
    width: 80%; 
    }
    nav a {
        margin: 0 10px 0 10px;
        font-style: bold;
        color: yellow;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-weight: bold;
      }

@-webkit-keyframes sky {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
@-moz-keyframes sky {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
@keyframes sky {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
